<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>
<div class="panel-body">
<h3>Add New Album to Inventory</h3>
<div>
  <div>
    <label>Album Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div>
    <label>Album Artist:</label>
    <br>
    <input #newArtist>
  </div>

  <div>
    <label>Album Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>

  <div>
    <label>Album Release Year:</label>
    <br>
    <input #newYear>
  </div>
  <br>

  <button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value, newYear.value); newTitle.value=''; newArtist.value=''; newDescription.value=''; newYear.value=''">Add</button>
</div>
